<!DOCTYPE html>
<html>
<head>
  <title>Let's get Schwartz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <img src="/assets/trumpet-cat.gif" id="trumpet-cat">

<%= yield %>

</body>
</html>
